<!-- templates/admin.twig -->
{% include 'includes/header.html' %}


{% if isLoggedIn == false %}
<section class="portfolio">
    <div class="container">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button id="login" type="submit" class="btn btn-default">Log In</button>
            </form>
          </div>
        </div>
    </div>
</section>
{% endif %}

{% if isLoggedIn == true %}
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <button id="logout" type="submit" class="btn btn-default pull-right">Log Out</button>
        </div>
      </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Propostas</h2>
                <hr class="small">
                {% if attribute(WaitingProposals, 'proposals') is empty %}
                  <h4>Não há propostas para aprovação.</h4>
                {% endif %}
                {% if not attribute(WaitingProposals, 'proposals') is empty %}
                  <div class="row">
                  {% for proposal in attribute(WaitingProposals, 'proposals') %}
                    <div class="proposal col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-5 bg-primary">
                      <div class="portfolio-item">
                        <div>
                          <h3>{{ proposal.title }}</h3>
                            <hr class="small">
                          </div>
                          <div class="text-justify">
                            {{ proposal.description }}
                            <p class="text-right">{{ proposal.author }}</p>
                            <hr class="small">
                          </div>
                          <div>
                            <button data-id="{{ proposal.id }}" type="submit" class="accept btn btn-default">Aceitar</button>
                            <button data-id="{{ proposal.id }}" type="submit" class="reject btn btn-default">Rejeitar</button>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
                  </div>
                {% endif %}
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
{% endif %}


{% include 'includes/footer.html' %}
